
<ion-list>
  <ion-item *ngFor="let test of testlist; let i = index ">

    <ion-label>
      <table>
        <tbody>
          <tr>
            <td rowspan="3">
              <ion-text>
              <h1>{{i+1}}) </h1>
              </ion-text>
            </td>
            <td>
              <h2>
            <strong>{{test.TestName}}</strong>
              </h2>
            </td>
          </tr>
          <tr>
            <td><p>CreatedBy : {{test.Username}}</p></td>
          </tr>
          <tr>
            <td><p>Course : {{test.CourseName}}</p></td>
          </tr>
        </tbody>
      </table>

    </ion-label>

    <ion-icon ion-right name="pencil" style="margin: 5%;" *ngIf="test.Result===null||test.Result===undefined" (click)="goToTest(test.TestId)"></ion-icon>
    <ion-text ion-right *ngIf="!(test.Result===null||test.Result===undefined)">Already Submitted!</ion-text>

  </ion-item>
</ion-list>
