









<ion-header>
  <ion-toolbar>
    <ion-title>Add Question</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-list>

    <ion-row class="ion-justify-content-around">
      <ion-col>
        <ion-row>
        <ion-col *ngFor="let image of QuestionImageList">
        <ion-thumbnail >
          <ion-img [src]="image"></ion-img>
        </ion-thumbnail>
      </ion-col>
    </ion-row>
        <ion-button expand="full" (click)="openCamera()">Add Image</ion-button>

      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col *ngFor="let file of QuestionFileNameList">
            <ion-text>{{file}}</ion-text>
            <ion-icon name="document"> </ion-icon>
        </ion-col>
      </ion-row>
        <!-- <ion-button expand="full" (click)="openFiles()">Add File</ion-button> -->
       </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-around">
      <ion-col>
        <p-editor [style]="{'height':'120px'}"  [(ngModel)]="QuestionBody" placeholder="Enter Question"></p-editor>
      </ion-col>
    </ion-row>



    <ion-row class="ion-justify-content-around">
      <ion-col>
        <ion-item>
          <ion-label>Topic : </ion-label>

          <ion-col>
            <ion-input type="text" [(ngModel)]="Topic" placeholder="Enter Topic" style="padding: 0;" *ngIf="!isExisitngTopic"></ion-input>
          </ion-col>

          <ion-col>
            <ion-toggle [(ngModel)]="isExisitngTopic" (ionChange)="Topic=undefined;selectedTopic=undefined" *ngIf="isTopicList"></ion-toggle>
          </ion-col>



          <ion-col>
          <ion-select placeholder="Select Existing Topic" [(ngModel)]="selectedTopic"  *ngIf="isTopicList && isExisitngTopic">
            <ion-select-option *ngFor="let topic of TopicList"  [value]="topic.TopicId">{{topic.TopicName}}</ion-select-option>
          </ion-select>
        </ion-col>
        </ion-item>



      </ion-col>

    </ion-row>

    <!-- <ion-row class="ion-justify-content-around">
      <ion-col>
        <ion-item>
          <ion-label>Question Type</ion-label>
          <ion-select placeholder="Select Question Type" [(ngModel)]="selectedQuestionType">
            <ion-select-option *ngFor="let q of QuestionType"  [value]="q.QuestionTypeId">{{q.QuestionTypeDescription}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

    </ion-row> -->



    <ion-row *ngIf="selectedQuestionType===1">
      <ion-col>
      <p-splitter  layout="vertical">
        <ng-template pTemplate>

          <ion-col>
          <p-editor [(ngModel)]="OptionBody" [style]="{'height':'75px'}" placeholder="Enter Option"></p-editor>

          <div style="margin: 15px;text-align: center;">
          <ion-button ion-center color="primary" fill="outline" (click)="addOption(OptionBody)">
            <ion-icon slot="end" name="add"></ion-icon>
            Add Option
          </ion-button>
        </div>
        </ion-col>

        </ng-template>


        <ng-template pTemplate>


          <ion-col>
          <ion-list style="overflow: scroll; height: 200px;">
            <div >
            <ion-item *ngFor="let option of OptionList">
              <ion-label><h1><span [innerHTML]="option.OptionBody"></span></h1></ion-label>
              <ion-checkbox slot="start" [(ngModel)]="option.IsCorrect" (ionChange)="correctSelected()"></ion-checkbox>
            </ion-item>
          </div>
          </ion-list>

        </ion-col>


        </ng-template>

    </p-splitter>
      </ion-col>
    </ion-row>



    <!-- <ion-row class="ion-justify-content-around" *ngIf="selectedQuestionType===1">
      <table style="width:100%">
        <thead>
            <tr>
                <th>Option Description</th>
                <th>IsCorrect</th>
            </tr>
        </thead>
        <tbody *ngFor="let option of OptionList">
            <tr>
                <td>
                  <span [innerHTML]="option.OptionBody"></span>
                </td>
                <td><ion-checkbox [(ngModel)]="option.IsCorrect" (ionChange)="correctSelected()"></ion-checkbox></td>
            </tr>
        </tbody>
      </table>
  </ion-row> -->





    <ion-row class="ion-justify-content-center">
      <ion-button expand="full" (click)="AddQuestion()">Add Question</ion-button>



    </ion-row>
    <!-- <button ion-button type="submit" block (click)="AddQuestion()">Add Question</button> -->
    <!-- <button ion-button type="submit" block (click)="submitQuestions()">Save</button> -->
  </ion-list>





<!-- List of Questions -->
<ion-list style="margin: 5px;">
  <h2>Question List</h2>
  <ion-item *ngFor="let question of QuestionList;let i = index">
    <ion-label>{{i+1}}. </ion-label>
    <ion-label><span [innerHtml]="question.QuestionBody"></span></ion-label>
  </ion-item>

  <ion-item *ngIf="!(QuestionList.length>0)">
    <ion-label> <ion-text color="danger">No questions added. Please add questions.</ion-text> </ion-label>
  </ion-item>
</ion-list>
