<ion-header>
  <ion-toolbar>
    <!-- <ion-button color="light"  slot="start" (click)="menuToggle()">

      <ion-icon name="menu-sharp"></ion-icon>
    </ion-button> -->

    <ion-title>Tests</ion-title>
  </ion-toolbar>

</ion-header>




<!-- <ion-content style="text-align: center;">

</ion-content> -->

<ion-content style="margin: auto;">
  <div style="margin: 15px;text-align: center;">
    <ion-button  shape="round" (click)="goToAddTest()" *ngIf="pageSquenceNo===1">Add Test</ion-button>
  </div>



<app-test-list [testlist]="testlist"  *ngIf="pageSquenceNo===1 && testlist!==undefined"></app-test-list>


<ion-button color="medium" Size="small" (click)="pageSquenceNo=1" *ngIf="pageSquenceNo===2">Back to List</ion-button>
<app-create-test (OutTestInfo)="getTestInfo($event)" *ngIf="pageSquenceNo===2"></app-create-test>


<ion-button color="medium" Size="small" (click)="pageSquenceNo=2" *ngIf="pageSquenceNo===3">Go Back</ion-button>
<app-add-question (OutQuestionList)="getQuestionList($event)" *ngIf="pageSquenceNo===3"></app-add-question>



<div style="margin: 15px;text-align: center;">
  <ion-button ion-center shape="round" (click)="createTest()" *ngIf="pageSquenceNo===3">Create Test</ion-button>
</div>

</ion-content>
